In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
                columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         One       Two     Three
a  0.359789  0.391371  0.498952
b       NaN       NaN       NaN
c  0.511201 -1.168997  0.193553
d  0.987620 -0.495414 -1.436663
e       NaN       NaN       NaN
f  0.595294  1.535547 -0.291197


Dropped DataFrame
         One       Two     Three
a  0.359789  0.391371  0.498952
c  0.511201 -1.168997  0.193553
d  0.987620 -0.495414 -1.436663
f  0.595294  1.535547 -0.291197

In [7]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
                columns=['One','Two','Three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.fillna(0))
print("\n")

Original DataFrame with NaN
        One       Two     Three
a -0.18470 -1.168001  0.848160
b      NaN       NaN       NaN
c  1.31665  0.036853 -0.471093


Dropped DataFrame
        One       Two     Three
a -0.18470 -1.168001  0.848160
b  0.00000  0.000000  0.000000
c  1.31665  0.036853 -0.471093

In [15]:
df=pd.DataFrame({'one':[10,20,30,40,50],
                'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [29]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
                columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN-with True fill:\n")
print(df['One'].isnull())

Original DataFrame:
         One       Two     Three
a  0.432479 -0.741605 -0.182889
b       NaN       NaN       NaN
c  0.727601 -0.822742  0.533542
d -0.379321 -0.277088  0.155611
e       NaN       NaN       NaN
f -0.455819  1.890482  0.485583

 NaN-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: One, dtype: bool

In [33]:
print("\n NaN filled with Background values:\n")
print(df.bfill())

 NaN filled with Background values:

        One       Two     Three
a  0.432479 -0.741605 -0.182889
b  0.727601 -0.822742  0.533542
c  0.727601 -0.822742  0.533542
d -0.379321 -0.277088  0.155611
e -0.455819  1.890482  0.485583
f -0.455819  1.890482  0.485583