In [8]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                 'Category':['A','B','C','A','B','C'],
                 'Value':np.random.randint(1,5,size=6),
                 'Score':np.random.randint(60,100,size=6)})
print('\n original dataframe:\n',df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print('\n group and aggregate with one column\n',df1)

 original dataframe:
       Name Category  Value  Score
0    Alice        A      3     95
1      Bob        B      4     95
2  Charlie        C      2     91
3    Alice        A      1     67
4      Bob        B      2     81
5  Charlie        C      3     95

 group and aggregate with one column
       Name  Value
0    Alice      4
1      Bob      6
2  Charlie      5

In [11]:
df2=df.groupby(('Name'),as_index=False)[['Value','Score']].sum()
print('\n Group and Aggregate with two column sum:\n',df2)

 Group and Aggregate with two column sum:
       Name  Value  Score
0    Alice      4    162
1      Bob      6    176
2  Charlie      5    186

In [14]:
df1=df.groupby(('Name'),as_index=False)['Value'].agg(sum)
print('\n group and aggregate with one column\n',df1)

 group and aggregate with one column
       Name  Value
0    Alice      4
1      Bob      6
2  Charlie      5

In [15]:
df3=df.groupby('Name').agg({'Value':['sum','mean','max','min'],
                           'Score':['sum','mean']})
print('\n Group by name and multiple aggregation:\n',df3)

 Group by name and multiple aggregation:
         Value              Score
          sum mean max min   sum  mean
Name
Alice       4  2.0   3   1   162  81.0
Bob         6  3.0   4   2   176  88.0
Charlie     5  2.5   3   2   186  93.0

In [16]:
df4=df.groupby(('Name'),as_index=False)['Value'].count()
print('\n group and count:\n',df4)

 group and count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [21]:
df5=df.groupby(('Name')).count()
print('\n group and count:\n',df5)

 group and count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [20]:
df6=df.groupby(('Name'),as_index=False)['Value'].first()
print('\n group and display by first:\n',df6)

 group and display by first:
       Name  Value
0    Alice      3
1      Bob      4
2  Charlie      2

In [23]:
df5=df.groupby(('Name')).first()
print('\n group and display by first:\n',df5)

 group and display by first:
         Category  Value  Score
Name
Alice          A      3     95
Bob            B      4     95
Charlie        C      2     91

In [24]:
df6=df.groupby(('Name'),as_index=False)['Value'].last()
print('\n group and display by last:\n',df6)

 group and display by first:
       Name  Value
0    Alice      1
1      Bob      2
2  Charlie      3

In [25]:
df5=df.groupby(('Name')).last()
print('\n group and display by last:\n',df5)

 group and display by first:
         Category  Value  Score
Name
Alice          A      1     67
Bob            B      2     81
Charlie        C      3     95

In [26]:
df6=df.groupby(('Name'),as_index=False)['Value'].size()
print('\n group and display by first:\n',df6)

 group and display by first:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [27]:
df5=df.groupby(('Name')).size()
print('\n group and display by first:\n',df5)

 group and display by first:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64